{% extends 'base.html.twig' %}

{% block title %}Edit Band{% endblock %}

{% block content %}
    <h1 class="text-2xl mb-2">Edit Band</h1>

    {{ include('band/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_band_index') }}" class="btn btn-secondary">Back to list</a>

{% endblock %}
