{% extends 'layouts/base_admin.html.twig' %}

{% block title %}Edit Festival{% endblock %}

{% block content %}
    <h1 class="text-2xl mb-2">Edit Festival</h1>

    {{ include('festival/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_festival_index') }}" class="btn btn-secondary mx-2">Back to list</a>

{% endblock %}
