{% extends 'layouts/base_admin.html.twig' %}

{% block title %}New Festival{% endblock %}

{% block content %}
    <h1 class="text-2xl mb-2">Create new Festival</h1>

    {{ include('festival/_form.html.twig') }}

    <a href="{{ path('app_festival_index') }}" class="btn btn-secondary mx-2">Back To List</a>
{% endblock %}
